html {
    /* For Firefox */
    scrollbar-width: none;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 8px;
    background-clip: content-box;
    border: 2px solid transparent;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .5);
    }
}